
<%= render 'navbar', word: @word %>

<p id="notice"><%= notice %></p>
<h4 style="padding-left: 20px;">Resultados</h4>
<hr>
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Palabra</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <% @words.each do |word| %>
          <tr>
            <td><%= word.name %></td>
            <td><%= word.description %></td>
            <!--<td><%= link_to 'Show', word %></td>
            <td><%= link_to 'Edit', edit_word_path(word) %></td>
            <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
              --!>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>

<%= link_to 'Agregar nueva palabra', new_word_path, style: 'padding-left: 20px;' %>
